.title{
    margin-left: 30px;
    font-size: 20px;
}

.lote{
    top: 50px;
    right: 3%;
    position: absolute;
    font-size: 30px;
}

.line{
    top: 65px;
    left: 21%;
    position:absolute;
    height: 2px;
    width: 70%;
    background-color: #ccc;
    opacity: 0.2;
    
}

.time-line{
    border-radius: 2.5px;
    margin-top: 20px;
    width: 100%;
    height:  60px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
  

}

label{
    color: black;
    margin:-10px 0 0 10px;
    font-size: 12px;
    font-weight:400;
    max-width: 100%;
}

.one{
    margin:25px 0 0 0.5%;
}

.two{
    margin-left:10%;

}

.three{
    margin-left:9%;
}

.four{
    margin-left:14%;
}
.five{
    margin-left:9.5%;
}
.six{
    margin-left:6.5%;
}

.etapa1,.etapa2,.etapa3,.etapa4,.etapa5,.etapa6,.etapa7,.etapa8,.etapa9,.etapa10{
    width: 25px;
    padding: 2px;
    margin-top: -10px;
    margin-left: 10px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50px;   
    position: fixed;  
    z-index: 1;
    
}

.etapa1{
    background-color: red;
    margin-top: -1px;
    position:absolute;
}

.etapa2{
   margin-top: -1px;
    left: 21.5%;
    position:absolute;
    cursor: pointer;
}

.etapa2:hover{
    
    border: 2px solid green;
 }

.etapa3{
    margin-top: -1px;
    left: 38.5%;
    position:absolute;
}

.etapa4{
    margin-top: -1px;
    left: 56.5%;
    position:absolute;
}

.etapa5{
    margin-top: -1px;
    left: 73.5%;
    position:absolute;
}

.etapa6{
    margin-top: -1px;
    left: 92%;
    position:absolute;
}


.progress-line{
    margin: 10px 0 0 10px;
    position:absolute;
    height: 2px;
    width:89%;
    background-color: #ccc;
    opacity: 0.5;
}

.progress{
    margin: 10px 0 0 10px;
    position:absolute;
    height: 2px;
    width:0%;
    background-color: #007bff;
    opacity: 0.9;
}

.info-1{
    position: relative;
    left: 11%;
    border-radius: 2.5px;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    
}

.info-2{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 95%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: -10px;
}

.info-3{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 50%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.info-3-5{
    position: relative;
    bottom: 55px;
    left: 50%;
    border-radius: 2.5px;
    width: 47%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}



span{
    font-size: 16px;
    color: black;
    font-weight: 400;
}



.dados{
    border-radius: 2.5px;
    margin: 30px 0 0 20px;
    width: 96%;
    max-width: 100%;
    height:  60%;
    padding: 150px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}

form{
     margin: -130px 50px 0  -120px ;
     max-width: 170%;
}

 form label{
    font-size: 14px;
}

#labelCnpj{
    margin-left:60% ;
}

input{
    margin-left: 10px;
    
}

#nomecurso{
    margin-top: 30px;
}

#nomehabil{
    margin-left: 50%;
}

#codemec{
    margin-top: 5% ;
}

#datahabil{
    margin-left:50%;
}


#labelNome{
    margin-left: 15px;
}

#inputNome{
    width: 95%;
    margin-left: 15px;

}

#labelCod{
    margin-left:46% ;
   
}

#inputCod{
    margin-left: 46%; 
    width: 95%;
 
 }

 #labelCep{
    margin-left: 15px;
    margin-top: 15px;
}

#inputCep{
    width: 60%;
    margin-left: 15px;

}

#labelLaga{
    margin-top: 15px;
    margin-left: -90px;
}

#inputLaga{
    
    margin-left: -90px;    
    width: 130%;
}


#labelNum{
    margin-top: 10px;
    margin-left: 55px;
}

#inputNum{
    width: 180%;
    margin-left: 55px;
}

 #labelTipo{
     margin-left: 15px;
    margin-top: 10px;
}

#inputTipo{

 margin-left: 15px;
}

 #labelNumero{
    margin-left: 80%;
    margin-top: 10px;
 }
 

 #inputNumero{
    width: 160%;
    left: 70%;
    position: relative;
 }
 

 #labelData{
    margin-left: 188%;
    margin-top: 10px;
 }

 #inputData{
    width: 160%;
    left: 180%;
    position: relative;
 }


  #labelPub{
    margin-top: 10px;
    margin-left: 270%;
 } 

 #inputPub{
   
    margin-left: 270%;
    width: 180%;
 }

 #labelSeç{
    margin-left: 15px;
 }

 
 #inputSeç{
    margin-left: 15px;
    width: 105%;
 }

 #labelPag{
    margin-left: 24%;
 }

 #inputPag{
    margin-left: 24%; 
    width: 115%;
}



 .title-recred{
    margin: 40px 0 -30px 0;
 }


.line-curso{
    margin:-3% 0 0 20%;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    opacity: 0.3;
    
}

.title-diploma{
    margin-top: 30px;
}

.line-diploma{
    margin:-3% 0 0 21%;
    height: 2px;
    width:97%;
    background-color: #ccc;
    opacity: 0.3;
    
}


 .mensagem{
    position:absolute;
    margin-top: -25%;
 }


 #proximo{
    width: 10%;
    top: 150%;
    left:53%;
    position:relative;
 }

 #refresh{
    width: 15%;
    top: 170%;
    left:50.5%;
    position:relative;
 }

 .loading{
    position: absolute;
    background: rgba(0, 0, 0, 0.20);
    height: 85%;
    width: 89.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 5%;

 }