
<h2 class="title">GERAR HISTORICO</h2>
<div class="line"></div>
<h3 class="lote">#132</h3>
     
  <section class="mantenedora" *ngIf="backPage == false || showPage == true">
 
    <section class="time-line">

       <div class="etapa1"></div>
      <div (click)="onSubmit()" class="etapa2"></div>
       <div class="etapa3"></div>
       <div class="etapa4"></div>
       <div class="etapa5"></div>
       <div class="etapa6"></div>
       
       <div class="progress-line"></div>
       <div class="progress"></div>
 
       <label class="one">Dados</label>
       <label  class="two">Atividades Complementares</label>
       <label  class="three">Estágios</label>
       <label  class="four">Situação Enade</label>
       <label  class="five">Situação Discentes</label>
       <label class="six">Historico Acadêmico</label>

 
    </section>

   
    <app-selecionar-curso (cursoEscolhidos)="cursos($event)"></app-selecionar-curso>
  
    
    <div class="loading" *ngIf="Historico == null">
      <h1 class="mensagem">Aguardando Curso</h1>  
      <mat-spinner *ngIf="Historico == null"></mat-spinner>
   </div> 
   
  
   <section *ngIf="Historico != null" class="dados">
   
    <div *ngFor="let dados of cursoSelecionadoDip | slice:0:1">
      

        <form *ngIf="submitRequere==true" [formGroup]="userForm" (ngSubmit)="onSubmit()"  class="row g-3">
            
          <div><h2>Dados do Curso</h2></div>
          <div class="line-curso"></div>

            <div id="nomecurso" class="row">
                <div class="col">
                    <label for="inputEmail4" class="form-label">Nome do Curso*</label>
                  <input type="text" formControlName="nome-curso"  ngModel="{{cursoSelecionadoHis.DadosDiplomaDadosCursoNomeCurso}}"  class="form-control">
                </div>
                <div class="col">
                    <label for="inputEmail4"  id="nomehabil" class="form-label">Nome Habilitação*</label>
                  <input type="text" formControlName="nome-habilitacao" ngModel="{{cursoSelecionadoHis.DadosDiplomaDadosCursoNomeHabilitacao}}" id="nomehabil" class="form-control" >
                </div>
                
              </div>

              <div id="codemec" class="row">
                <div class="col">
                    <label for="inputEmail4" class="form-label">Codigo Curso Emec*</label>
                  <input formControlName="emec" ngModel="{{cursoSelecionadoHis.DadosDiplomaDadosCursoCodigoCursoEmec}}" type="text"class="form-control">
                </div>
                <div class="col">
                    <label for="inputEmail4" id="datahabil" class="form-label">Data Habilitacao*</label>
                  <input formControlName="data-habilitacao" ngModel="{{dataHabilitacao}}" type="text"  id="datahabil" class="form-control" >
                </div>
              </div>

              <div class="title-diploma"><h2>Dados do Diplomado</h2></div>
              <div class="line-diploma"></div>

              <div class="col-md-6">
                <label for="inputEmail4" id="labelNome" class="form-label">Nome:*</label>
                <input formControlName="nome" ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoNome}}" type="email" class="form-control" id="inputNome" required>
                </div>
                <div class="col-md-6">
                <label for="inputPassword4" id="labelCod" class="form-label">CPF:*</label>
                <input formControlName="cpf" ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomaDoCpf}}" type="text" class="form-control" id="inputCod" required>
              </div>
     
    
                <div class="col-md-6">
                  <label for="inputCity" id="labelCep" class="form-label">Data de Nascimento: *</label>
                  <input formControlName="nascimento" ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoDataNascimento}}" type="text" class="form-control" id="inputCep" required>
                </div>
                <div class="col-md-4">
                  <label for="inputState" id="labelLaga" class="form-label">Nacionalidade: *</label>
                  <input formControlName="nacionalidade" ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoNacionalidade}}" type="text" class="form-control" id="inputLaga" required>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" id="labelNum" class="form-label">Sexo: *</label>
                  <input formControlName="sexo" ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomaDoSexo}}" type="text" class="form-control" id="inputNum" required>
                </div>
                 
                <div class="col-md-2">
                    <label for="inputZip" id="labelTipo" class="form-label">UF:*</label>
                    <input formControlName="uf" class="form-control" type="text" id="inputTipo" ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoRgUf}}">
                </div>
                
              <div class="col-md-2">
                    <label for="inputZip" id="labelNumero" class="form-label">Município:*</label>
                    <input  formControlName="municipio" ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoNaturalidadeNomeMunicipio}}" type="text" id="inputNumero" class="form-control"  required>
                </div>
    
                <div class="col-md-2">
                    <label for="inputZip" id="labelData" class="form-label">Código Município:*</label>
                    <input formControlName="codigo"  ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoNaturalidadeCodigoMunicipio}}" type="text" id="inputData" class="form-control"  required>
                </div>
    
                <div class="col-md-2">
                    <label for="inputZip" id="labelPub" class="form-label">Município Estrangeiro:*</label>
                    <input formControlName="estrangeiro"  ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoNaturalidadeNomeMunicipioEstrangeiro}}" type="text" id="inputPub" class="form-control"  required>
                </div>
                 
                <div class="col-md-6">
                    <label for="inputEmail4" id="labelSeç" class="form-label">ID Diploma:*</label>
                    <input formControlName="id"  ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoId}}" type="text" class="form-control" id="inputSeç" required>
                </div>
    
                <div class="col-md-6">
                    <label for="inputPassword4" id="labelPag" class="form-label">RG:*</label>
                    <input formControlName="rg"  ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoRgNumero}}" type="text" class="form-control" id="inputPag" required>
                </div> 

                <div class="col-md-6">
                  <label for="inputEmail4" id="labelSeç" class="form-label">UF Emissão RG:*</label>
                  <input formControlName="uf-rg"  ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoRgUf}}" type="text" class="form-control" id="inputSeç" required>
              </div>
  
              <div class="col-md-6">
                  <label for="inputPassword4" id="labelPag" class="form-label">Orgão Expeditor:*</label>
                  <input formControlName="orgao"  ngModel="{{cursoSelecionadoHis.DadosDiplomaDiplomadoRgOrgaoExpedidor}}" type="text" class="form-control" id="inputPag" required>
              </div> 



                <div class="title-ies"><h2>IES</h2></div>
                <div class="line-ies"></div>
                
                <div class="col-md-6">
                  <label for="inputCity" id="labelCep" class="form-label">Código Mec: *</label>
                  <input value="{{dados.DadosDiplomaIesEmissoraCodigoMec}}" type="text" class="form-control" id="inputCep" required>
                </div>
                 <div class="col-md-4">
                  <label for="inputState" id="labelLaga" class="form-label">Nome: *</label>
                  <input value="{{dados.DadosDiplomaIesEmissoraNome}}" type="text" class="form-control" id="inputLaga" required>
                </div>
                <div class="col-md-2">
                  <label for="inputZip" id="labelNum" class="form-label">CNPJ: *</label>
                  <input value="{{dados.DadosDiplomaIesEmissoraCnpj}}" type="text" class="form-control" id="inputNum" required>
                </div>

                
                <div class="title-mantenedora"><h2>Mantenedora</h2></div>
                <div class="line-mantenedora"></div>
                
                <div class="col-md-6">
                  <label for="inputCity" id="labelRazao" class="form-label">Razão Social: *</label>
                  <input value="{{dados.DadosDiplomaIesEmissoraMantenedoraRazaoSocial}}" type="text" class="form-control" id="inputRazao" required>
                </div>
                <div class="col-md-4">
                  <label for="inputState" id="inputCNPJ" class="form-label">CNPJ: *</label>
                  <input value="{{dados.DadosDiplomaIesEmissoraMantenedoraCnpj}}" type="text" class="form-control" id="inputCNPJ" required>
                </div>
       
             
       </form>
      </div>
    </section>
   
   </section>