

<link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

<header>
  <div class="user">
    
    <span (click)="showConfig()" class="po-icon po-icon-arrow-down"></span> 
    
  </div>

</header>

<div *ngIf="alt" class="user-config">

  <div  id="icon-exit" class="po-icon po-icon-exit"> </div> <p for="icon-exit" class="exit">Sair</p>
</div>

