<section  *ngIf="enable3 == true " class="curso">
    <section class="time-line">
    
        <div class="etapa1"></div>
        <div class="etapa2"></div>
        <div class="etapa3"></div>
        <div  class="etapa4"></div>
        <div (click)="ngSubmit()" class="etapa5"></div>
        <div class="etapa6"></div>
    
        
        <div class="progress-line"></div>
        <div class="progress"></div>
  
        <label class="one">Dados</label>
        <label  class="two">Atividades Complementares</label>
        <label  class="three">Estágios</label>
        <label  class="four">Situação Enade</label>
        <label  class="five">Situação Discentes</label>
        <label class="six">Historico Acadêmico</label>
 
 
     </section>
 
     <section *ngFor="let dados of sitacaoEnade" class="dados">
        <form  [formGroup]="userForm" (ngSubmit)="ngSubmit()"  class="row g-3">
        
        <div><h2>Sitação Enade</h2></div>
        <div class="line-curso"></div>

        <div class="col-md-6">
            <label for="inputEmail4" id="labelNome" class="form-label">Condição:*</label>
            <input formControlName="condicao" ngModel="{{dados.RegistroReqDadosPrivadosDiplomadoHistoricoEscolarMatrizCurricularHistoricoENADEInformacoesENADECondicao}}" type="text" class="form-control" id="inputNome" required>
        </div>

        <div class="col-md-6">
            <label for="inputPassword4" id="labelCod" class="form-label">Edição:*</label>
            <input formControlName="edicao" ngModel="{{dados.RegistroReqDadosPrivadosDiplomadoHistoricoEscolarMatrizCurricularHistoricoENADEInformacoesENADEEdicao}}" type="text" class="form-control" id="inputCod" required>
        </div>
 

        <div class="col-md-6">
            <label for="inputCity" id="labelCep" class="form-label">Motivo:*</label>
            <input formControlName="motivo" ngModel="{{dados.RegistroReqDadosPrivadosDiplomadoHistoricoEscolarMatrizCurricularHistoricoENADEOutroMotivo}}" type="text" class="form-control" id="inputCep" required>
        </div>
        <div class="col-md-6">
              <label for="inputState" id="labelLaga" class="form-label">Situação:*</label>
              <input formControlName="situacao" ngModel="{{dados.RegistroReqDadosPrivadosDiplomadoHistoricoEscolarMatrizCurricularHistoricoENADEInformacoesENADESituacao}}" type="text" class="form-control" id="inputLaga" required>
        </div>
       
       </form>
     </section>
  
 
</section>