.title{
    margin-left: 28px;
    font-size: 20px;
}

.lote{
    top: 50px;
    right: 7%;
    position: absolute;
    font-size: 30px;
}

.line{
    top: 65px;
    left: 26%;
    position:absolute;
    height: 2px;
    width: 60%;
    background-color: #ccc;
    opacity: 0.2;
    
}

.time-line{
    border-radius: 2.5px;
    margin-top: 20px;
    width: 100%;
    height:  60px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;

}

label{
    color: black;
    margin:-10px 0 0 10px;
    font-size: 12px;
    font-weight:400;
    max-width: 100%;
}

.one{
    margin:25px 0 0 -0.4%;
}

.two{
    margin-left:5%;
}

.three{
    margin-left:8%;
}

.four{
    margin-left:7.5%;
}
.five{
    margin-left:5.5%;
}
.six{
    margin-left:3.5%;
}
.seven{
    margin-left:6%;
}

.eight{
    margin-left:6%;
}


.nine{
    margin-left: 4%;
}

.ten{
   margin-left: 4.5%;
}
.etapa1,.etapa2,.etapa3,.etapa4,.etapa5,.etapa6,.etapa7,.etapa8,.etapa9,.etapa10{
    width: 25px;
    padding: 2px;
    margin-top: -10px;
    margin-left: 10px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50px;   
    position: fixed;  
    z-index: 1;
}

.etapa1{
    background-color:#0a58ca;
    margin-top: -1px;
    position:absolute;
}

.etapa1:hover{
    border: 3px solid green;
    cursor: pointer;
 }

.etapa2{
    background-color:#0a58ca;
    margin-top: -1px;
    left: 13.5%;
    position:absolute;

}

.etapa2:hover{
    border: 3px solid green;
}

.etapa3{
    background-color:red;
    margin-top: -1px;
    left: 22.5%;
    position:absolute;
    animation-duration: 5s;
    animation-name:opacity;
}

.etapa4{
    margin-top: -1px;
    left: 32.5%;
    position:absolute;
}

.etapa4:hover{
    border: 2px solid green;
    cursor: pointer;
}

.etapa5{
    margin-top: -1px;
    left: 42.5%;
    position:absolute;
}

.etapa6{
    margin-top: -1px;
    left: 52.5%;
    position:absolute;
}

.etapa7{
    margin-top: -1px;
    left: 62.5%;
    position:absolute;
}
.etapa8{
    margin-top: -1px;
    left: 72.5%;
    position:absolute;
}
.etapa9{
    margin-top: -1px;
    left: 82.5%;
    position:absolute;
}
.etapa10{
    margin-top: -1px;
    left: 92%;
    position:absolute;
}

.progress-line{
    margin: 10px 0 0 10px;
    position:absolute;
    height: 2px;
    width:89%;
    background-color: #ccc;
    opacity: 0.5;
}

.progress{
    margin: 10px 0 0 10px;
    position:absolute;
    height: 2px;
    width:20%;
    animation: progress2 5s;
    background-color: #007bff;
    opacity: 0.9;
}

@keyframes progress2 {
    from {
      width: 10%;
      opacity: 0;
    }
  
    to {
      width: 20%;
      opacity: 1;
    }
  }
  
  @keyframes opacity {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
.info-1{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 95%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.info-2{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 95%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}

span{
    font-size: 16px;
    color: black;
    font-weight: 400;
}



.dados{
    border-radius: 2.5px;
    margin: 40px 0 0 20px;
    width: 96%;
    height:  60%;
    padding: 150px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}


.title-dados{       
    bottom: 130px;
    right: 130px;
    position:relative;
}

.line-dados{
    bottom: 155px;
    left: 20px;
    position:relative;
    height: 2px;
    width: 115%;
    background-color: black;
    opacity: 0.1;
}

.title-endereco{
    
    margin-bottom: -20px;
}

.line-credenc{
    top: -40px;
    left: 170px;
    position:relative;
    height: 2px;
    width: 90%;
    background-color: black;
    opacity: 0.1;
}


.line-recred{
    top: -40px;
    left: 180px;
    position:relative;
    height: 2px;
    width: 95%;
    background-color: black;
    opacity: 0.1;
}


form{
    margin: -100px 0 0 -140px ;
}

form label{
   font-size: 14px;
}

#labelCurso{
   margin-left: -1px;
}

#labelCod{
    margin-left: 70px;
}

#inputCod{
    left: 70px;
    position: relative;
}

#labelHab{
    margin-left: 140px;
}

#inputHab{
    left: 140px;
    position: relative;
}



#labelTit{
    margin-top: 30px;
    margin-left: -1px;
 }


 #labelGrau{
    margin-top: 30px;
     margin-left: 70px;
 }
 
 #inputGrau{
     left: 70px;
     position: relative;
 }
 
 #labelDoc{
    margin-top: 35px;
     margin-left: 140px;
 }
 
 #inputDoc{
     left: 140px;
     position: relative;
 }
 
 #inputCodMun{
    margin-left: -160px;
}

#labelCodMun{
    margin-left: -160px;
    margin-top: 30px;
}


#inputCodMun2{
    margin-left: -160px;
}

#labelCodMun2{
    margin-left: -160px;
    margin-top: 80px;
}

 #labelMod{
    margin-top: 30px;
    margin-left: 130%;
 }

 #inputMod{
    margin-left: 130%;
 }

 #labelMun{
    margin-left: 200%;
    margin-top: 10%;
 }

 #inputMun{
    
    margin-left: 200%;
 }

 #labelRec{
    margin-top: 10px;
     margin-left: 70px;
 }
 
 #inputRec{
     left: 70px;
     position: relative;
 }
 
 #labelData{

     margin-left: 140px;
 }
 
 #inputData{
     left: 140px;
     position: relative;
 }


 #labelProc{
    margin-top: 60px;
 }



 #labelTipo{
    margin-left: 3px;
}

 #labelNumero{
    margin-left: 70%;
 }

 #labelData{
    margin-left: 182%;
 }

  #labelPub{
    top:0;
    left: 245%;
    position: relative;
 } 



 
#inputTipo{
    width: 160%;
 
}

#inputTipo2{
    width: 160%;
 
}

option{
    color: black;
}

#inputNumero{
   width: 160%;
   left: 70%;
   position: relative;
}

 #inputData{
    width: 160%;
    left: 180%;
    position: relative;
 }

 #inputPub{
   
    left: 250%;
    width: 160%;
   position: relative;
 }
 

 #labelCom{
    margin-left: 3px;
}

 #labelBai{
    margin-left: 120%;
 }

 #labelEst{
    margin-left: 160%;
 }

 #labelCid{
  
    margin-left: 220%;
 }

 #inputSeç{
    width: 106%;
 }

 #inputPag{
 
    margin-left: 90px;
    width: 106%;
 }

 #labelSeç{
    margin:10px 0 0 -0.5px;
 }
 
 #labelPag{
    margin: 10px 0 0  90px;
 }

 .title-endereco{
    margin-top: 40px;
 }


 .line-endereco{
    bottom: 40px;
    left: 270px;
    position:relative;
    height: 2px;
    width: 84%;
    background-color: black;
    opacity: 0.1;
}



#inputCamp{
    width: 106%;
 }

 #inputRef{
    margin-left: 90px;
    width: 110%;
 }

#labelCamp{
    margin:10px 0 0 -0.5px;
 }
 
 #labelRef{
    margin: 10px 0 0  90px;
 }


 
#inputCom{
    width: 192%;
}

#inputBai{
    width: 125%;
   left: 120%;
   position: relative;
}

 #inputEst{
    width: 125%;
    left: 160%;
    position: relative;
 }

 #inputCid{
    left: 220%;
    width: 200%;
   position: relative;
 }

#labelCom{
    margin-left: 3px;
}

 #labelBai{
    margin-left: 120%;
 }

 #labelEst{
    margin-left: 160%;
 }

 #labelCid{
  
    margin-left: 220%;
 }


#inputCep{
    width: 60%;
}

#inputLaga{
    margin-left: -120px;    
    width: 130%;
}

#labelLaga{
    margin-left: -120px;
}

#inputNum{
    width: 200%;
}


#labelCep{
    margin-left: 1px;
}

#labelNum{
    margin-left: 2px;
}

#labelVei{
    margin-left: 50%;

}

#inputVei{
    margin-left: 50%;
}

#labelDia{
    margin-left: 70%;
    max-width: 100%;
}

#inputDia{
    margin-left: 70%;
}

#labelNumpro{
    position: relative;
    margin-top: 70px;
    margin-right: 100px;
    float: left;
}

#inputNumpro{
    position: relative;
    float: left;
}

.title-credenc,.title-recred{
    margin-top: 40px;
}

 #voltar{
    width: 10%;
    top:300%;
    left: 35%;
    position:relative;
 }

 #proximo{
    width: 10%;
    top: 150%;
    left:50.5%;
    position:relative;
 }

 #refresh{
    width: 15%;
    top: 170%;
    left:48%;
    position:relative;
 }