
     

   
    <h2 class="title">PROCESSO DE DIPLOMA</h2>
    <div class="line"></div>
    <h3 class="lote">#132</h3>
 
    <section class="time-line">

       <div class="etapa1"></div>
       <div class="etapa2"></div>
       <div class="etapa3"></div>
       <div class="etapa4"></div>
       <div class="etapa5"></div>
       <div class="etapa6"></div>
       <div class="etapa7"></div>
       <div class="etapa8"></div>
       <div class="etapa9"></div>
       <div class="etapa10"></div>
       
       <div class="progress-line"></div>
       <div class="progress"></div>
 
       <label class="one">Mantenedora</label>
       <label  class="two">IES</label>
       <label  class="three">Curso</label>
       <label  class="four">Aluno</label>
       <label  class="five">Livro de Registro</label>
       <label class="six">Assinatura</label>
       <label class="seven">Expedição</label>
       <label class="eight">Publicação</label>
       <label class="nine">Transmissão</label>
       <label class="ten">Registro</label>
 
    </section>
 
    <section class="dados">

        <div class="title-mantenedora"><h2>Mantenedora</h2></div>
        <div class="line-mantenedora"></div>
        

        <form class="row g-3">

            <div class="col-12">
               <label for="inputAddress2" class="form-label">Nome da Mantenedora: *</label>
               <input type="text" class="form-control" id="inputNome" required >
            </div>
            <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Razão Social: *</label>
            <input type="email" class="form-control" id="inputRazao" required>
            </div>
            <div class="col-md-6">
            <label for="inputPassword4" id="labelCnpj" class="form-label">CNPJ: *</label>
            <input type="password" class="form-control" id="inputCnpj" required>
            </div>
         
            <div class="title-endereco"><h2>Endereço</h2></div>
            <div class="line-endereco"></div>
 

            <div class="col-md-6">
            <label for="inputCity" class="form-label">Cep: *</label>
            <input type="text" class="form-control" id="inputCep" required>
            </div>
            <div class="col-md-4">
            <label for="inputState" id="labelLaga" class="form-label">Lagadouro: *</label>
            <input type="text" class="form-control" id="inputLaga" required>
            </div>
            <div class="col-md-2">
            <label for="inputZip" class="form-label">Número: *</label>
            <input type="text" class="form-control" id="inputNum" required>
            </div>

            <div class="col-md-2">
               <label for="inputZip" class="form-label">Complemento:*</label>
               <input type="text" class="form-control" id="inputCom" required>
            </div>
            <div class="col-md-2">
               <label for="inputZip" id="labelBai" class="form-label">Bairro:*</label>
               <input type="text" class="form-control" id="inputBai" required>
            </div>
            <div class="col-md-2">
               <label for="inputZip" id="labelEst" class="form-label">Estado:*</label>
               <input type="text" class="form-control" id="inputEst" required>
            </div>
            <div class="col-md-2">
               <label for="inputZip" id="labelCid" class="form-label">Cidade:*</label>
               <input type="text" class="form-control" id="inputCid" required>
            </div>
      
            <div class="col-12">
               <a id="voltar" class="btn btn-primary">Voltar</a>
            </div>
            <div class="col-12">
               <a id="proximo" type="submit" routerLink="/ies" routerLinkActive="list-item-active" class="btn btn-primary">Próximo</a>
            </div> 
       </form>
    </section>
 
