
   

<h2 class="title">Usuários</h2>
<div class="line"></div>


 
<div class="po-wrapper">

    <div class="submit-line">
      <input  [(ngModel)]="userFiltro" type="text"  placeholder="Procurar..."/>
      <button class="submit-lupa" type="submit">
        <i id="search" class="fa fa-search"></i>
      </button>
    </div>
  
  
    <a id="new"  routerLink="/selecionar-curso"  routerLinkActive="list-item-active" class="btn btn-primary" ><i id="plus" class="fa fa-plus" aria-hidden="true"></i> Novo </a>
   
  
       <div class="dados">
          <table class="table">
              <thead>
                <tr>
                  <td scope="col">Nome</td>
                  <td scope="col">Email</td>
                  <td scope="col">Ativo</td>
                  <td scope="col">Criado em</td>
                  <td scope="col">Açoes</td>
              
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dados of infos | usuarios:userFiltro">
                
                  <th>{{dados.Nome}}</th>
                  <th>{{dados.Email}}</th>
                  <th>{{dados.Ativo}}</th>
                  <th>{{dados.Criadoem}}</th>
                  <th><button id="pen" class="btn btn-primary fa fa-pen"></button> </th>
                  <th><button id="trash" class="btn btn-danger fas fa-trash-alt"></button>
                  
                </th>
                   
              </tbody>
          </table>  
  
        </div>
   
  </div>
  