   

   
    <h2 class="title">PROCESSO DE DIPLOMA</h2>
    <div class="line"></div>
    <h3 class="lote">#132</h3>
 
    <section class="time-line">

       <div class="etapa1"></div>
       <div class="etapa2"></div>
       <div class="etapa3"></div>
       <div class="etapa4"></div>
       <div class="etapa5"></div>
       <div class="etapa6"></div>
       <div class="etapa7"></div>
       <div class="etapa8"></div>
       <div class="etapa9"></div>
       <div class="etapa10"></div>
       
       <div class="progress-line"></div>
       <div class="progress"></div>
 
       <label class="one">Mantenedora</label>
       <label class="two">IES</label>
       <label class="three">Curso</label>
       <label class="four">Aluno</label>
       <label class="five">Livro de Registro</label>
       <label class="six">Assinatura</label>
       <label class="seven">Expedição</label>
       <label class="eight">Publicação</label>
       <label class="nine">Transmissão</label>
       <label class="ten">Registro</label>

    </section>
    
    
    <div class="info-1"><h3>Mantenedora:<span>  Fundação Exemplo</span></h3></div> 

    <section class="dados">

        <div class="title-ies"><h2>Dados da IES</h2></div>
        <div class="line-ies"></div>

        
        <form class="row g-3">

        <div class="col-md-6">
            <label for="inputEmail4" id="labelNome" class="form-label">Nome da Instituição:*</label>
            <input type="email" class="form-control" id="inputNome" required>
            </div>
            <div class="col-md-6">
            <label for="inputPassword4" id="labelCod" class="form-label">Código MEC:*</label>
            <input type="password" class="form-control" id="inputCod" required>
            </div>
            
            <div class="title-endereco"><h4>Endereço</h4></div>
            <div class="line-endereco"></div>
 

            <div class="col-md-6">
            <label for="inputCity" id="labelCep" class="form-label">Cep: *</label>
            <input type="text" class="form-control" id="inputCep" required>
            </div>
            <div class="col-md-4">
            <label for="inputState" id="labelLaga" class="form-label">Lagadouro: *</label>
            <input type="text" class="form-control" id="inputLaga" required>
            </div>
            <div class="col-md-2">
            <label for="inputZip" id="labelNum" class="form-label">Número: *</label>
            <input type="text" class="form-control" id="inputNum" required>
            </div>

            <div class="col-md-2">
               <label for="inputZip" id="labelCom" class="form-label">Complemento:*</label>
               <input type="text" class="form-control" id="inputCom" required>
            </div>
            <div class="col-md-2">
               <label for="inputZip" id="labelBai" class="form-label">Bairro:*</label>
               <input type="text" class="form-control" id="inputBai" required>
            </div>
            <div class="col-md-2">
               <label for="inputZip" id="labelEst" class="form-label">Estado:*</label>
               <input type="text" class="form-control" id="inputEst" required>
            </div>
            <div class="col-md-2">
               <label for="inputZip" id="labelCid" class="form-label">Cidade:*</label>
               <input type="text" class="form-control" id="inputCid" required>
            </div>

            <div class="title-credenc"><h2>Credenciamento</h2></div>
            <div class="line-credenc"></div>

            <div class="col-md-2">
                <label for="inputZip" id="labelTipo" class="form-label">Tipo:*</label>
                <select class="form-select" id="inputTipo"  aria-label="Default select example">
                  <option selected>Selecione uma opção</option>
                  <option value="1">Portaria</option>
                  <option value="2">Portaria</option>
                  <option value="3">Portaria</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="inputZip" id="labelNumero" class="form-label">Numero:*</label>
                <input type="text" id="inputNumero" class="form-control"  required>
            </div>

            <div class="col-md-2">
                <label for="inputZip" id="labelData" class="form-label">Data:*</label>
                <input type="date" id="inputData" class="form-control"  required>
            </div>

            <div class="col-md-2">
                <label for="inputZip" id="labelPub" class="form-label">Data Publicação:*</label>
                <input type="date" id="inputPub" class="form-control"  required>
            </div>
             
            <div class="col-md-6">
                <label for="inputEmail4" id="labelSeç" class="form-label">Seção da Publicação:*</label>
                <input type="email" class="form-control" id="inputSeç" required>
            </div>

            <div class="col-md-6">
                <label for="inputPassword4" id="labelPag" class="form-label">Página da Publicação:*</label>
                <input type="password" class="form-control" id="inputPag" required>
            </div>

             <div class="title-recred"><h2>Recredenciamento</h2></div>
             <div class="line-recred"></div>

             
            <div class="col-md-2">
                <label for="inputZip" id="labelTipo" class="form-label">Tipo:*</label>
                <select class="form-select" id="inputTipo"  aria-label="Default select example">
                  <option selected>Selecione uma opção</option>
                  <option value="1">Portaria</option>
                  <option value="2">Portaria</option>
                  <option value="3">Portaria</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="inputZip" id="labelNumero" class="form-label">Numero:*</label>
                <input type="text" id="inputNumero" class="form-control"  required>
            </div>

            <div class="col-md-2">
                <label for="inputZip" id="labelData" class="form-label">Data:*</label>
                <input type="date" id="inputData" class="form-control"  required>
            </div>

            <div class="col-md-2">
                <label for="inputZip" id="labelPub" class="form-label">Data Publicação:*</label>
                <input type="date" id="inputPub" class="form-control"  required>
            </div>
             
            <div class="col-md-6">
                <label for="inputEmail4" id="labelSeç" class="form-label">Seção da Publicação:*</label>
                <input type="email" class="form-control" id="inputSeç" required>
            </div>

            <div class="col-md-6">
                <label for="inputPassword4" id="labelPag" class="form-label">Página da Publicação:*</label>
                <input type="password" class="form-control" id="inputPag" required>
            </div>


          
            <div class="col-12">
                <a id="voltar"  routerLink="/mantenedora" routerLinkActive="list-item-active" class="btn btn-primary">Voltar</a>
            </div>

            <div class="col-12">
                <a id="proximo" routerLink="/curso" routerLinkActive="list-item-active" class="btn btn-primary">Próximo</a>
            </div> 
   
        </form>
       
    
    </section>

  