
    <h2 class="title">PROCESSO DE DIPLOMA</h2>
    <div class="line"></div>
    <h3 class="lote">#132</h3>
 
    <section class="time-line">

       <div class="etapa1"></div>
       <div class="etapa2"></div>
       <div class="etapa3"></div>
       <div class="etapa4"></div>
       <div class="etapa5"></div>
       <div class="etapa6"></div>
       <div class="etapa7"></div>
       <div class="etapa8"></div>
       <div class="etapa9"></div>
       <div class="etapa10"></div>
       
       <div class="progress-line"></div>
       <div class="progress"></div>
 
       <label class="one">Mantenedora</label>
       <label class="two">IES</label>
       <label class="three">Curso</label>
       <label class="four">Aluno</label>  
       <label class="five">Livro de Registro</label>
       <label class="six">Assinatura</label>
       <label class="seven">Expedição</label>
       <label class="eight">Publicação</label>
       <label class="nine">Transmissão</label>
       <label class="ten">Registro</label>

 
    </section>

    <div class="info-1"><h3>Mantenedora:<span> Fundação Exemplo</span></h3></div>  
    <div class="info-2"><h3>Instituição:<span> Centro Universitário Fametro</span></h3></div>
    <div class="info-3"><h3>Curso:<span> Medicina  </span></h3></div>
    <div class="info-3-5"><h3>Data do Inicio do processo  do diploma:<span> 22/04/2022 </span></h3></div>

    <section class="dados">

         <form class="row g-3">

            <div class="form-check">
               <input class="form-check-input" id="input-all" type="checkbox" value="">
               <label class="form-check-label" for="flexCheckDefault"  id="check-all">
                  Selecionar Tudo    
               </label>
            </div>
            
            <div class="mb-3">
               <input type="email" class="form-control" id="buscar" placeholder="Buscar">
             </div>
              
             <select class="form-select" id="filtro">
               <option selected>Filtro</option>
               <option value="1">One</option>
               <option value="2">Two</option>
               <option value="3">Three</option>
             </select>

             <button id="inserir" class="btn btn-primary btn-sm">+ Inserir aluno</button>
             <button id="importar" class="btn btn-primary btn-sm"> Importar alunos</button>

             <div class="alunos">

               <div class="form-check" >
                  <input class="form-check-input"  id="check-aluno"  type="checkbox"  value="">
               </div>

               <div class="user"></div>
               
               <h3 class="nome-aluno">DANIEL SILVEIRA CARVALHO</h3>
               
               <label class="labelId">ID:</label>
               <span class="Id">#002</span>

               <label class="labelCpf">CPF:</label>
               <span class="cpf">xxx-xxx-xxx-xx</span>

               
               <label class="labelGrau">Data da Colação de Grau:</label>
               <span class="grau"><p id="date" class="po-icon po-icon-calendar"> 12/04/2022</p></span>


             </div>

            <div class="navegation">
               <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <button type="button" class="btn btn-primary"><p id="back" class="po-icon po-icon-arrow-left"></p></button>
                  <button type="button" class="btn btn-primary">1</button>
                  <button type="button" class="btn btn-primary">2</button>
                  <button type="button" class="btn btn-primary">3</button>
                  <button type="button" class="btn btn-primary"><p id="next" class="po-icon po-icon-arrow-right"></p></button>
                </div>
            </div>
      
             
            <div class="col-12">
               <a id="voltar" routerLink="/curso" routerLinkActive="list-item-active" class="btn btn-primary">Voltar</a>
            </div>
            <div class="col-12">
               <a id="proximo" routerLink="/livro-registro" routerLinkActive="list-item-active"  class="btn btn-primary">Próximo</a>
            </div> 


         </form>

    </section>

