

    <section  *ngIf="enable2 == true " class="curso">
 
    <section class="time-line">

       <div class="etapa1"></div>
       <div class="etapa2"></div>
       <div class="etapa3"></div>
       <div class="etapa4"></div>
       <div class="etapa5"></div>
       <div class="etapa6"></div>
       <div class="etapa7"></div>
       <div class="etapa8"></div>
       <div class="etapa9"></div>
       <div class="etapa10"></div>
       
       <div class="progress-line"></div>
       <div class="progress"></div>
 
       <label class="one">Mantenedora</label>
       <label class="two">IES</label>
       <label class="three">Curso</label>
       <label class="four">Aluno</label>
       <label class="five">Livro de Registro</label>
       <label class="six">Assinatura</label>
       <label class="seven">Expedição</label>
       <label class="eight">Publicação</label>
       <label class="nine">Transmissão</label>
       <label class="ten">Registro</label>


    </section>

    <div class="info-1"><h3>Mantenedora:<span> Fundação Exemplo</span></h3></div>  
    <div class="info-2"><h3>Instituição:<span> Centro Universitário Fametro</span></h3></div>  

    
    <section class="dados">

        <div class="title-dados"><h2>Dados do Curso</h2></div>
        <div class="line-dados"></div>
        

        <form class="row g-3">

                <div class="col-md-4">
                    <label for="inputZip" id="labelCurso"class="form-label">Nome do Curso: *</label>
                    <input type="text" class="form-control" id="inputCurso" required>
                </div>
                
                <div class="col-md-4">
                  <label for="inputState" id="labelCod" class="form-label">Código do Curso MEC: *</label>
                  <input type="text" class="form-control" id="inputCod" required>
                </div>

                <div class="col-md-4">
                  <label for="inputZip" id="labelHab" class="form-label">Nome Habilitação: *</label>
                  <input type="text" class="form-control" id="inputHab" required>
                </div>

                <div class="col-md-4">
                    <label for="inputZip" id="labelTit"class="form-label">Título Conferido:*</label>
                    <input type="text" class="form-control" id="inputTit" required>
                </div>

                <div class="col-md-4">
                  <label for="inputState" id="labelGrau" class="form-label">Grau Conferido: *</label>
                  <input type="text" class="form-control" id="inputGrau" required>
                </div>

                <div class="col-md-4">
                  <label for="inputZip" id="labelDoc" class="form-label">N° do Documento de Autorização : *</label>
                  <input type="text" class="form-control" id="inputDoc" required>
                </div>


                <div class="col-md-4">
                  <label for="inputZip" id="labelMod"class="form-label">Modalidade:*</label>
                  <input type="text" class="form-control" id="inputMod" required>
                </div>

                <div class="col-md-4">
                  <label for="inputState" id="labelRec" class="form-label">N° do Documento de Reconhecimento: *</label>
                  <input type="text" class="form-control" id="inputRec" required>
                </div>
                
                <div class="col-md-4">
                  <label for="inputZip" id="labelData" class="form-label">Data da Colação de Grau : *</label>
                  <input type="text" class="form-control" id="inputData" required>
                </div>
  
                    
              <div class="title-endereco"><h2>Endereço da oferta do Curso</h2></div>
              <div class="line-endereco"></div> 

                    
              <div class="col-md-6">
                <label for="inputEmail4" id="labelCamp" class="form-label">Campus/Unidade :*</label>
                <input type="email" class="form-control" id="inputCamp" required>
            </div>

            <div class="col-md-6">
                <label for="inputPassword4" id="labelRef" class="form-label">Referência:*</label>
                <input type="password" class="form-control" id="inputRef" required>
            </div>

            
            <div class="col-md-6">
              <label for="inputCity" id="labelCep" class="form-label">Cep: *</label>
              <input type="text" class="form-control" id="inputCep" required>
              </div>
              <div class="col-md-4">
              <label for="inputState" id="labelLaga" class="form-label">Lagadouro: *</label>
              <input type="text" class="form-control" id="inputLaga" required>
              </div>
              <div class="col-md-2">
              <label for="inputZip" id="labelNum" class="form-label">Número: *</label>
              <input type="text" class="form-control" id="inputNum" required>
              </div>
              
              <div class="col-md-2">
                <label for="inputZip" id="labelCom" class="form-label">Complemento:*</label>
                <input type="text" class="form-control" id="inputCom" required>
             </div>
             <div class="col-md-2">
                <label for="inputZip" id="labelBai" class="form-label">Bairro:*</label>
                <input type="text" class="form-control" id="inputBai" required>
             </div>
             <div class="col-md-2">
                <label for="inputZip" id="labelEst" class="form-label">Estado:*</label>
                <input type="text" class="form-control" id="inputEst" required>
             </div>
             <div class="col-md-2">
                <label for="inputZip" id="labelCid" class="form-label">Cidade:*</label>
                <input type="text" class="form-control" id="inputCid" required>
             </div>
 
    
             <div class="col-12">
                <a id="proximo"  type="submit"  class="btn btn-primary">Próximo</a>
             </div> 

             <div class="col-12">
               <a id="refresh"  (click)="refresh()" class="btn btn-danger">Fazer Novamente</a>
            </div> 
       </form>

    </section>
 

   </section>