.title{
    margin-left: 30px;
    font-size: 20px;
}

.lote{
    top: 50px;
    right: 3%;
    position: absolute;
    font-size: 30px;
}

.line{
    top: 65px;
    left: 26%;
    position:absolute;
    height: 2px;
    width: 60%;
    background-color: #ccc;
    opacity: 0.2;
    
}

.time-line{
    border-radius: 2.5px;
    margin-top: 20px;
    width: 100%;
    height:  60px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;

}

label{
    color: black;
    margin:-10px 0 0 10px;
    font-size: 12px;
    font-weight:400;
    max-width: 100%;
}


.one{
    margin:25px 0 0 -0.4%;
}

.two{
    margin-left:5%;
}

.three{
    margin-left:8%;
}

.four{
    margin-left:7.5%;
}
.five{
    margin-left:5.5%;
}
.six{
    margin-left:3.5%;
}
.seven{
    margin-left:6%;
}

.eight{
    margin-left:6%;
}


.nine{
    margin-left: 4%;
}

.ten{
   margin-left: 4.5%;
}.etapa1,.etapa2,.etapa3,.etapa4,.etapa5,.etapa6,.etapa7,.etapa8,.etapa9,.etapa10{
    width: 25px;
    padding: 2px;
    margin-top: -10px;
    margin-left: 10px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50px;   
    position: fixed;  
    z-index: 1;
}

.etapa1{
    background-color:#0a58ca;
    margin-top: -1px;
    position:absolute;
}


.etapa2{
    background-color:#0a58ca;
    margin-top: -1px;
    left: 13.5%;
    position:absolute;

}

.etapa3{
    background-color:#0a58ca;
    margin-top: -1px;
    left: 22.5%;
    position:absolute;
 
}

.etapa4{
    background-color:#0a58ca;
    margin-top: -1px;
    left: 32.5%;
    position:absolute;
    
}

.etapa5{
    background-color:#0a58ca;
    margin-top: -1px;
    left: 42.5%;
    position:absolute;
 
}


.etapa6{
    background-color:red;
    margin-top: -1px;
    left: 52.5%;
    position:absolute;
    animation-duration: 5s;
    animation-name:opacity;
}



.etapa7{
    margin-top: -1px;
    left: 62.5%;
    position:absolute;
}

.etapa7:hover{
    border: 2px solid green
 }
.etapa8{
    margin-top: -1px;
    left: 72.5%;
    position:absolute;
}
.etapa9{
    margin-top: -1px;
    left: 82.5%;
    position:absolute;
}
.etapa10{
    margin-top: -1px;
    left: 92%;
    position:absolute;
}

.progress-line{
    margin: 10px 0 0 10px;
    position:absolute;
    height: 2px;
    width:89%;
    background-color: #ccc;
    opacity: 0.5;
}

.progress{
    margin: 10px 0 0 10px;
    position:absolute;
    height: 2px;
    width:50%;
    animation: progress6 5s;
    background-color: #007bff;
    opacity: 0.9;
}

@keyframes progress6 {
    from {
      width: 40%;
      opacity: 0;
    }
  
    to {
      width: 50%;
      opacity: 1;
    }
  }
  
  @keyframes opacity {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.info-1{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 95%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.info-2{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 95%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.info-3{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 50%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.info-3-5{
    position: relative;
    bottom: 55px;
    left: 50%;
    border-radius: 2.5px;
    width: 47%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}



span{
    font-size: 16px;
    color: black;
    font-weight: 400;
}


.dados{
    border-radius: 2.5px;
    margin: 10px 0 0 20px;
    width: 96%;
    height:  60%;
    padding: 200px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}



.title-assinar{
    bottom: 180px;
    right: 150px;
    position:relative;
}

.line-assinar{
    bottom: 205px;
    left: 40px;
    position:relative;
    height: 2px;
    width: 120%;
    background-color: black;
    opacity: 0.1;
} 

form{
    margin: -190px 0 0 -140px ;
}

form label{
   font-size: 14px;
}


#input-all{
    margin:1px 0 0 -60px;
    cursor: pointer;
}

#check-all{
    margin:-10px 0 0 -40px;
}

#buscar{
    bottom: 43px;
    left: 14%;
    position: relative;
    width: 35%;
}

#filtro{
    bottom: 105px;
    left: 50%;
    position: relative;
    width: 20%; 
}


#inserir{

    bottom: 105px;
    left: 51%;
    position: relative;
    width: 25%; 
    border-radius: 40px;
}

#importar{
    width: 10px;
    bottom: 105px;
    left: 52%;
    position: relative;
    width: 25%; 
    border-radius: 40px;
}

option{
    color: black;
}

.alunos{
    position: relative;
    bottom: 75px;
    border-radius: 2.5px;
    width: 116%;
    max-width: 200%;
    height:  45px;
    padding: 65px;
    background-color:white  ;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#check-aluno{
    bottom: 50px;
    right:  30px;
    position: relative;
    cursor: pointer;
  
}
#check-aluno2{
    bottom: 70px;
    right:  30px;
    position: relative;

  
}


.user{
    bottom: 102px;
    right: 5px;
    position: relative;
    padding: 40px;
    width: 8%;
    background-image: url("../../../../assets/user.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.nome-aluno{
    bottom: 180px;
    margin-left: 13%;
    position: relative;
    color: black;
}

.labelId{
    bottom: 185px;
    margin-left: 13%;
    position: relative;
    color: black;
}

.Id{
    font-size: 12px;
    bottom: 185px;
    position: relative;
    color: #0c9abe;
}

.labelCpf{
    bottom: 185px;
    left: -60px;
    margin-left: 14%;
    position: relative;
    color: black;
}

.cpf{
    font-size: 12px;
    bottom: 185px;
    left: -60px;
    position: relative;
    color: #0c9abe;
}

.labelGrau{
    bottom: 185px;
    left: -60px;
    margin-left: 5%;
    position: relative;
    color: black;
}

.grau{
    font-size: 12px;
    bottom: 185px;
    left: -60px;
    position: relative;
    color: #0c9abe;
}

.labelPros{
    bottom: 175px;
    margin-left: 13%;
    position: relative;
    color: black;
}

.pros{
    font-size: 12px;
    bottom: 175px;
    position: relative;
    color: #0c9abe;
}


.labelReg{
    bottom: 175px;
    margin-left: 5%;
    position: relative;
    color: black;
}

.registro{
    font-size: 12px;
    bottom: 175px;
    position: relative;
    color: #0c9abe;
}

#date{
    color: #0c9abe;
    margin-left: 10px;
    font-size: 14px;
  
}

.labelLiv{
    bottom: 175px;
    margin-left: 4%;
    position: relative;
    color: black;
}


.livro{
    font-size: 12px;
    bottom: 175px;
    position: relative;
    color: #0c9abe;
}

.labelFol{
    bottom: 175px;
    left: 4%;
    position: relative;
    color: black;
}


.folha{
    font-size: 12px;
    bottom: 175px;
    margin-left: 5%;
    position: relative;
    color: #0c9abe;
}


.labelSeq{
    bottom: 185px;
    left: 11%;
    position: relative;
    color: black;
    opacity: 0;
}


.sequencia{
    font-size: 12px;
    bottom: 185px;
     left:  12%;
    position: relative;
    color: #0c9abe;
    opacity: 0;
}


 #assinar{
    border-radius: 20px;
    font-size: 12px;
    bottom: 235px;
    left: 13%;
    position: relative;
    color: white;
    width: 18%;
} 

#visualizar-xml{
    border-radius: 20px;
    font-size: 12px;
    bottom: 230px;
    left: 89%;
    position: relative;
    color: white;
    width: 18%;
}



#visualizar-pdf{
    border-radius: 20px;
    font-size: 12px;
    bottom: 195px;
    left: 71%;
    position: relative;
    color: white;
    width: 18%;
}


#status-valido{
    font-size: 12px;
    bottom: 300px;
    left:  51%;
    position: relative;
    color: white;
    width:22%;
    padding: 1px;
    text-align: center;
    border-radius: 0;
    border: 0.1px solid black;
    background-color: green;
}

#status-aguardando{
    font-size: 12px;
    bottom: 300px;
    left:  87%;
    position: relative;
    color: white;
    width:22%;
    padding: 1px;
    text-align: center;
    border-radius: 0;
    border: 0.1px solid black;
    background-color: orange;
}



 #gerar{
    width: 20%;
    left: 50%;
    position:relative;
 } 
 
.background{
    width: 100px;
    padding: 20px;
    height: 20px;
}
 
 .mensagem{
    position: absolute;
    margin-top: -25%;
    color: white;
 }

 .loading{
    position: fixed;
    background: rgba(0, 0, 0, 0.50);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2000;
 }

 .webviewer{
    width: 100%;
    height: 100vh;
}

.viewXml{
    position: fixed;
    background: rgba(0, 0, 0, 0.95);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2000;
    
}

.view{
    margin: 10px 0 0 100px;
    width: 90%;
    height:  100%;
    padding: 100px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    overflow:auto;
  
}

.text-xml{
    color: black;
}

#close-button-top{
    position: relative;
    left: 40%;
    bottom: 10%;
    width: 25%;
}


#close-button-down{
    position: relative;
    left: 40%;
    top: 10%;
    width: 25%;
    
}

