


.dados{
    border-radius: 2.5px;
    margin: 40px 0 0 20px;
    width: 96%;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}


.title-dados{       
    bottom: 130px;
    right: 130px;
    position:relative;
}

.line-dados{
    bottom: 155px;
    left: 45px;
    position:relative;
    height: 2px;
    width: 111%;
    background-color: black;
    opacity: 0.1;
}

form{
    margin:1% 0 0 34%;
}

 #proximo{
    width: 12%;
    margin-top: -12.5%;
    left: 35%;
    position:relative;
 } 

 option{
    color: #2c3739;
 }