
    
    <section class="dados">
        <form class="row g-3" [formGroup]="userForm" (ngSubmit)="ngSubmit()">

                <div class="col-md-4">
                    <select formControlName="cursos" class="form-select" id="inputCurso"  aria-label="Default select example">
                      <option selected>Selecione um curso</option>
                      <option *ngFor="let cursos of listarCursos">{{cursos.NOME_CURSO}}</option>
                    </select>
                </div>
               
               <div  class="col-12">
                  <a  id="proximo" routerLink="/mantenedora" routerLinkActive="list-item-active" type="submit" (click)="ngSubmit()"  class="btn btn-primary">Escolher</a>
               </div> 
         </form>
          
    </section>
 
