.title{
    margin-left: 28px;
    font-size: 20px;
}

.lote{
    top: 50px;
    right: 7%;
    position: absolute;
    font-size: 30px;
}

.line{
    top: 65px;
    left: 26%;
    position:absolute;
    height: 2px;
    width: 60%;
    background-color: #ccc;
    opacity: 0.2;
    
}

.time-line{
    border-radius: 2.5px;
    margin-top: 20px;
    width: 100%;
    height:  60px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;

}

label{
    color: black;
    margin:-10px 0 0 10px;
    font-size: 12px;
    font-weight:400;
    max-width: 100%;
}

.one{
    margin:25px 0 0 -0.4%;
}

.two{
    margin-left:5%;
}

.three{
    margin-left:8%;
}

.four{
    margin-left:7.5%;
}
.five{
    margin-left:5.5%;
}
.six{
    margin-left:3.5%;
}
.seven{
    margin-left:6%;
}

.eight{
    margin-left:6%;
}


.nine{
    margin-left: 4%;
}

.ten{
   margin-left: 4.5%;
}.etapa1,.etapa2,.etapa3,.etapa4,.etapa5,.etapa6,.etapa7,.etapa8,.etapa9,.etapa10{
    width: 25px;
    padding: 2px;
    margin-top: -10px;
    margin-left: 10px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50px;   
    position: fixed;  
    z-index: 1;
}

.etapa1{
    background-color:#0a58ca;
    margin-top: -1px;
    position:absolute;
}


.etapa2{
    background-color:#0a58ca;
    margin-top: -1px;
    left: 13.5%;
    position:absolute;

}

.etapa3{
    background-color:#0a58ca;
    margin-top: -1px;
    left: 22.5%;
    position:absolute;
 
}

.etapa4{
    background-color:red;
    margin-top: -1px;
    left: 32.5%;
    position:absolute;
    animation-duration: 5s;
    animation-name:opacity;
}

.etapa5{
    margin-top: -1px;
    left: 42.5%;
    position:absolute;
}

.etapa5:hover{
   border: 2px solid green;
   cursor:pointer
}


.etapa6{
    margin-top: -1px;
    left: 52.5%;
    position:absolute;
}

.etapa7{
    margin-top: -1px;
    left: 62.5%;
    position:absolute;
}
.etapa8{
    margin-top: -1px;
    left: 72.5%;
    position:absolute;
}
.etapa9{
    margin-top: -1px;
    left: 82.5%;
    position:absolute;
}
.etapa10{
    margin-top: -1px;
    left: 92%;
    position:absolute;
}

.progress-line{
    margin: 10px 0 0 10px;
    position:absolute;
    height: 2px;
    width:89%;
    background-color: #ccc;
    opacity: 0.5;
}

.progress{
    margin: 10px 0 0 10px;
    position:absolute;
    height: 2px;
    width:30%;
    animation: progress4 10s;
    background-color: #007bff;
    opacity: 0.9;
}

@keyframes progress4 {
    from {
      width: 20%;
      opacity: 0;
    }
  
    to {
      width: 30%;
      opacity: 1;
    }
  }
  
  @keyframes opacity {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
.info-1{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 95%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.info-2{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 95%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.info-3{
    position: relative;
    left: 2%;
    border-radius: 2.5px;
    width: 58%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.info-3-5{
    position: relative;
    bottom: 55px;
    left: 60%;
    border-radius: 2.5px;
    width: 37%;
    height:  45px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    margin-top: 10px;
}



span{
    font-size: 16px;
    color: black;
    font-weight: 400;
}


.dados{
    border-radius: 2.5px;
    margin: 10px 0 0 20px;
    width: 96%;
    height:  60%;
    padding: 200px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
}


.title-dados{
    top:36%;
    left: 70px;
    position:absolute;
}

.line-dados{
    top: 40%;
    left: 19%;
    position:absolute;
    height: 2px;
    width: 74%;
    background-color: black;
    opacity: 0.1;
}

form{
    margin: -190px 0 0 -140px ;
}

form label{
   font-size: 14px;
}

#input-all{
    margin:1px 0 0 -60px;
}

#check-all{
    margin:-10px 0 0 -40px;
}

#buscar{
    bottom: 43px;
    left: 14%;
    position: relative;
    width: 35%;
}

#filtro{
    bottom: 105px;
    left: 50%;
    position: relative;
    width: 20%; 
}


#inserir{

    bottom: 105px;
    left: 51%;
    position: relative;
    width: 25%; 
    border-radius: 40px;
}

#importar{
    width: 10px;
    bottom: 105px;
    left: 52%;
    position: relative;
    width: 25%; 
    border-radius: 40px;
}

option{
    color: black;
}

.alunos{
    position: relative;
    bottom: 75px;
    border-radius: 2.5px;
    width: 116%;
    max-width: 200%;
    height:  45px;
    padding: 45px;
    background-color:white  ;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#check-aluno{
    bottom: 30px;
    right:  30px;
    position: relative;
  
}

.user{
    bottom: 62px;
    left: 30px;
    position: relative;
    padding: 40px;
    width: 8%;
    background-image: url("../../../../../assets/user.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.nome-aluno{
    bottom: 135px;
    margin-left: 16%;
    position: relative;
    color: black;
}

.labelId{
    bottom: 140px;
    margin-left: 16%;
    position: relative;
    color: black;
}

.Id{
    font-size: 12px;
    bottom: 140px;
    position: relative;
    color: #0c9abe;
}

.labelCpf{
    bottom: 140px;
    margin-left: 16%;
    position: relative;
    color: black;
}

.cpf{
    font-size: 12px;
    bottom: 140px;
    left: 10px;
    position: relative;
    color: #0c9abe;
}

.labelGrau{
    bottom: 140px;
    margin-left: 16%;
    position: relative;
    color: black;
}

.grau{
    font-size: 12px;
    bottom: 140px;
    position: relative;
    color: #0c9abe;
}

#date{
    color: #0c9abe;
    margin-left: 10px;
    font-size: 14px;
}



#voltar{
    width: 10%;
    top:700%;
    left: 35%;
    position:relative;
 }

 #proximo{
    width: 10%;
    top: 555%;
    left: 50%;
    position:relative;
 } 

 .navegation{
    margin:-14% 0 5% 97%;
    width: 30%;
    padding: 30px;
 }

 #proximo{
    width: 10%;
    top: 150%;
    left:50.5%;
    position:relative;
 }

 
 #refresh{
    width: 15%;
    top: 170%;
    left:48%;
    position:relative;
 }
 
 h3{
    cursor: pointer;
 }
  
 #view{
    top:10%;
    left: 78.5%;
    width: 20%;
    max-width: 50%;
    position: absolute;
 }
  
